.wrapper_product-list .pageheader-imgwrapper {
  width: 100%;
  height: 60vh;
  background-image: url(https://image.raku-uru.jp/01/24040/31/top_about03_1669706809608.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  margin-bottom: 100px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_product-list .pageheader-imgwrapper h2 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.wrapper_categry {
  width: 90%;
  margin: 200px auto 250px;
}
.wrapper_categry .categry_box01 {
  max-width: 1600px;
  position: relative;
  margin-bottom: 360px;
}
.wrapper_categry .categry_box01::before {
  content: "";
  width: 550px;
  height: 775px;
  position: absolute;
  top: -85px;
  left: 0;
  z-index: -1;
}
.wrapper_categry .categry_box01 h3 {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Cinzel", serif;
  padding-left: 100px;
  margin-bottom: 40px;
}
.wrapper_categry .categry_box01 .categry_photo01 {
  width: 990px;
  height: 400px;
  margin-left: 100px;
}
.wrapper_categry .categry_box01 .categry_photo01 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper_categry .categry_box01 .categry_photo01 .pc_none {
  display: none;
}
.wrapper_categry .categry_box01 .categry_text {
  margin-left: 200px;
  padding: 40px;
  background-color: #fff;
  line-height: 2.5;
}
.wrapper_categry .categry_box01 .d-c_text {
  position: absolute;
  top: 400px;
  right: -300px;
  font-size: 3.75vw;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Cinzel", serif;
  transform: rotate(90deg);
}
.wrapper_categry .categry_box02 {
  width: 50%;
  margin: 0 auto;
}
.wrapper_categry .categry_box02 .inner {
  position: relative;
  width: calc(100% + (100vw - 100%) / 2);
  height: 350px;
}
.wrapper_categry .categry_box02 .inner p {
  width: 70%;
  margin: 0 auto;
  padding-top: 200px;
  padding-left: 200px;
}
.wrapper_categry .categry_box02 .inner .categry_photo02 {
  position: absolute;
  top: -120px;
  left: -250px;
  width: 550px;
  height: 375px;
}
.wrapper_categry .categry_box02 .inner .categry_photo02 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper_categry .categry_box02 .inner .categry_photo03 {
  position: absolute;
  top: -200px;
  left: 500px;
  width: 450px;
  height: 300px;
}
.wrapper_categry .categry_box02 .inner .categry_photo03 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper_categry .categry_box02 .categry_text-box_sp {
  display: none;
}
.product-list_top {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
}
.product-list_top .display-order {
  display: flex;
  align-items: center;
}
.product-list_top .display-order select {
   padding: 5px;
   font-size: 12px;
}
.product-list_area {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 300px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-list_area::after {
  display: block;
  content: "";
  width: calc(25% - 20px);
}
.product-list_area .product-list_item {
  width: calc(25% - 20px);
}
.product-list_area .product-list_item img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 20px;
}
.product-list_area .product-list_item p {
  text-align: center;
}
.product-list_area .product-list_item p:first-of-type {
  font-size: 0.75rem;
}
.product-list_area .product-list_item p:nth-of-type(2) {
  margin-bottom: 15px;
}
.product-list_area .product-list_item p:nth-of-type(3) {
  margin-bottom: 15px;
}
.product-list_area .product-list_item button {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #B2D0B3;
}
.product-list_area .product-list_item button a {
  color: #fff;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list_area .product-list_item button::before {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.wrapper_categry .categry-saibo01::before {
  background-color: #E2DCCD;
}
.wrapper_categry .categry-saibo02 {
  background-color: #E2DCCD;
}

.wrapper_categry .categry-aqua01::before {
  background-color: #CDDCE2;
}
.wrapper_categry .categry-aqua02 {
  background-color: #CDDCE2;
}
.cotegry_sub-area01::before {
  background-color: #CDDCE2;
}
.cotegry_sub-area02::before {
  background-color: #E2DCCD;
}

/* ==================
スマホ
=============== */
@media screen and (max-width: 599px) {
  .wrapper_product-list .pageheader-imgwrapper {
    height: 440px;
    background-position: 0;
    background-attachment: scroll;
    justify-content: flex-start;
    align-items: flex-end;
  }
.wrapper_categry {
    margin: 80px auto 100px;
  }
.wrapper_categry .categry_box01 {
    margin-bottom: 80px;
  }
.wrapper_categry .categry_box01::before {
    width: 70vw;
    margin-left: calc(-50vw + 50%);
    height: 620px;
    top: -30px;
  }
.wrapper_categry .categry_box01 h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1;
    padding-left: 0;
    margin-bottom: 30px;
  }
.wrapper_categry .categry_box01 .categry_photo01 {
    width: 95vw;
    height: 350px;
    margin-left: 0;
  }
.wrapper_categry .categry_box01 .categry_photo01 .pc_none {
    display: block;
  }
.wrapper_categry .categry_box01 .categry_photo01 .sp_none {
    display: none;
  }
.wrapper_categry .categry_box01 .categry_text {
    margin-left: 40px;
    padding: 40px 0 0 20px;
    font-size: 0.9rem;
    line-height: 2;
  }
.wrapper_categry .categry_box01 .d-c_text {
    top: 220px;
    right: -150px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #fff;
  }
.wrapper_categry .categry_box02 {
    width: 100%;
  }
.wrapper_categry .categry_box02 .inner .categry_photo02 {
    width: 100%;
  }
.wrapper_categry .categry_box02 .inner .categry_photo03 {
    position: static;
  }
.wrapper_categry .categry_box02 .sp_none {
    display: none;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp {
    display: block;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp .categry_photo02_sp {
    width: 100vw;
    height: 250px;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 80px;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp .categry_photo02_sp img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp p {
    font-size: 0.9rem;
    padding-left: 50px;
    margin-bottom: 30px;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp .categry_photo03_sp {
    position: relative;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp .categry_photo03_sp img {
    width: 200px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
.wrapper_categry .categry_box02 .categry_text-box_sp .categry_photo03_sp .cotegry_sub-area03 {
    position: absolute;
    top: -100px;
    margin-left: 5vw;
    width: 90vw;
    height: 150px;
    z-index: -1;
  }

.product-list_top {
    width: 90%;
    font-size: 0.75rem;
  }
.product-list_area {
    width: 90%;
    margin: 0 auto 150px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 60px;
  }
.product-list_area::after {
    width: calc(50% - 5px);
  }
.product-list_area .product-list_item {
    width: calc(50% - 5px);
  }
.product-list_area .product-list_item img {
    height: 175px;
    margin-bottom: 10px;
  }
.product-list_area .product-list_item p {
    line-height: 1;
  }
.product-list_area .product-list_item p:first-of-type {
    margin-bottom: 10px;
  }
.product-list_area .product-list_item p:nth-of-type(2) {
    font-size: 0.75rem;
    letter-spacing: 1px;
    height: 20px;
  }
.product-list_area .product-list_item p:nth-of-type(3) {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
.product-list_area .product-list_item button {
    height: 40px;
  }
.product-list_area .product-list_item button a {
    font-size: 0.9rem;
  }
}