<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<title>{% if dsnTopTitle is not empty %}{{ dsnTopTitle }}{% else %}{% if pageTitle is not empty %}{{pageTitle}} | {% elseif campaignPageTtl is not empty %}{{campaignPageTtl}} | {% elseif categoryPageTtl is not empty %}{{categoryPageTtl}} | {% elseif itemData.title is not empty %}{{itemData.title}} | {% elseif itemData.itemName is not empty %}{{ itemData.itemName }} | {% elseif title2 is not empty %}{{ title2 }} | {% elseif title1 is not empty %}{{ title1 }} | {% endif %}{{ shopName }}{% endif %}</title>

	<meta property="og:site_name" content="{{ shopName }}"> 
	{% if itemData != null %}<!-- 商品詳細の場合 -->
	<meta name="description" content="{{ itemData.metadescription }}">
	<meta property="og:image" content="{{ itemData.ogImageUrl }}">
	<meta property="og:title" content="{{ itemData.ogTitle }}">
	<meta property="og:type" content="{{ itemData.ogType }}">
	<meta property="og:url" content="{{ thisUrl }}">
	<meta property="og:description" content="{{ itemData.metadescription }}"> 
	{% endif %}{% if campaignDescription != null %}<meta name="description" content="{{ campaignDescription }}">
	{% endif %}{% if categoryDescription != null %}<meta name="description" content="{{ categoryDescription }}">
	{% endif %}{% if freeDescription != null %}<meta name="description" content="{{ freeDescription }}">
	{% endif %}{% if dsnTopMetadescription is not empty %}<meta name="description" content="{{ dsnTopMetadescription }}">
	{% endif %}

	{% if topFaviconUrl is not empty %}
	<link rel="shortcut icon" href="{{ topFaviconUrl }}">
	<link rel="icon" type="image/vnd.microsoft.icon" href="{{ topFaviconUrl }}">
	{% endif %}
	<link href="{{ cssAddr }}" rel="stylesheet" type="text/css">
	<!--[if lt IE 10]>
		<style type="text/css">label:after {display:none;}</style>
	<![endif]-->
	<[-- HEADER_CUSTOM_CONTENTS --]>
	{% if robots is not empty %}<meta name="robots" content="{{ robots }}">{% endif %}
	{% if canonicalUrl is not empty %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
	{% if prevUrl is not empty %}<link rel="prev" href="{{ prevUrl }}">{% endif %}
	{% if nextUrl is not empty %}<link rel="next" href="{{ nextUrl }}">{% endif %}
</head>

<body{% if cartLoginStatus == 1 %} class="login"{% endif %} ontouchstart="">
<div id="wrapper">

<header id="header">
<div class="logo">
<h1 class="site-name"><a href="/">{% if hdrLogoDispFlag == 1 and hdrLogoImageUrl is not empty %}<img src="{{ hdrLogoImageUrl }}" alt="{{ shopName }}">{% else %}{{ shopName }}{% endif %}</a></h1>
</div><!--//logo-->
<div class="menubtn"><a href="#" id="jq-open-btn"><b>MENU</b></a></div>
</header>

<nav id="global-nav">

<div class="header-top">
<div class="search-area">
<form action="/search" method="post" class="searchform3">
		<input  type="text" name="searchWord" placeholder="検索キーワード" class="sbox3" >
		<button class="sbtn3" type="submit"></button>
</form>
</div><!--//search-area-->

<ul class="header-menu">
	{% if newMemRegistFlag == 1 and cartLoginStatus != 1 %}
	<li class="entry"><a href="{{ shpCartUrl }}/member/regist/input/{{ shpHash }}"><i>会員登録</i></a></li>
	{% endif %}
	{% if registValidFlag == 1 %}
		{% if cartLoginStatus == 1 %}
		<li class="logout"><a href="{{ shpCartUrl }}/logout/{{ shpHash }}"><i>ログアウト</i></a></li>
		{% endif %}
		<li class="mypage"><a href="{{ shpCartUrl }}/mypage/login/{{ shpHash }}"><i>マイページ</i></a></li>
	{% endif %}
	<li class="cart"><a href="{{ shpCartUrl }}/cart/{{ shpHash }}"><i>カート</i></a></li>
</ul>
</div><!--//header-top-->

<ul class="cat-menu">
	<!--キャンペーン▼-->
	{% set campaignItemCounter = 0 %}
	{% for item in campaignList %} {% if item.itemCount > 0 %} {% set campaignItemCounter = 1 %} {% endif %} {% endfor %}
	{% if campaignList is not empty and campaignItemCounter > 0 %}
	<li class="cat-dropdown"><b>CAMPAIGN</b>
		<ul class="menu-open">
			{% for item in campaignList %} {% if item.itemCount > 0 %}
			<li><a href="/item-list?campaignId={{ item.campaignId }}">{{ item.campaignName }}</a></li>
			{% endif %} {% endfor %}
		</ul><!--//menu-open-->
	</li><!--//cat-dropdown-->
	{% endif %}
	<!--キャンペーン▲-->
	<!--カテゴリ▼-->
	{% set categoryItemCounter = 0 %}
	{% for item in categoryList %} {% if item.itemCount > 0 %} {% set categoryItemCounter = 1 %} {% endif %} {% endfor %}
	{% if categoryList is not empty and categoryItemCounter > 0 %}
	<li class="cat-dropdown"><b>CATEGORY</b>
		<ul class="menu-open">
		{% for item in categoryList %} {% if item.itemCount > 0 %}
			<li><a href="/item-list?categoryId={{ item.categoryId }}">{{ item.categoryName }}</a>
				{% if item.childList is not empty %}
				<ul>
				{% for child in item.childList %} {% if child.itemCount > 0 %}
				<li><a href="/item-list?categoryId={{ child.categoryId }}">{{ child.categoryName }}</a></li>
				{% endif %} {% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endif %} {% endfor %}
		</ul><!--//menu-open-->
	</li><!--//cat-dropdown-->
	{% endif %}
	<!--カテゴリ▲-->
</ul><!--//cat-menu-->

</nav><!--//global-nav-->

<div id="container">
<!--パンくず▼-->
{% if breadCrumbsList is not empty %}
<div class="breadcrumbs">
<div class="inner">
	<ol>
		{% for item in breadCrumbsList %} {% if loop.index < loop.length - 1 %}
		<li><a href="{{ item.url }}" itemprop="url">{{ item.displayValue }}</a></li>
		{% else %}
		<li><strong>{{ item.displayValue }}</strong></li>
		{% endif %} {% endfor %}
	</ol>
</div>
</div>
{% endif %}
<!--パンくず▲-->

<[-- MAIN_CONTENTS --]>

<div id="secondary">

	<div class="left-block">
	<div class="footer-logo"><a href="/">
	{% if ftrLogoDispFlag == 1 and ftrLogoImageUrl is not empty %}
	<img src="{{ ftrLogoImageUrl }}" alt="{{ shopName }}">{% else %}{{ shopName }}
	{% endif %}
	</a></div>
	<ul class="sns">
		<li><a href="http://twitter.com/share?url={{ shpUrl }}&text={{ shopName }}" target="_blank" class="twitter"></a></li>
		<li><a href="http://www.facebook.com/share.php?u={{ shpUrl }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="facebook"></a></li>
	</ul>
	
	</div><!--//left-block-->

	<div class="right-block">
	
	<!--▼カレンダー-->
	{% if calendarMonthList is not empty %}
	<div class="secondary-head">
	<h3 class="title2">CALENDAR</h3>
	</div>
	
	<div class="block-in">
	{% for monthItem in calendarMonthList %}
		<div class="schedule-area2">
		<div class="months">{{ monthItem.targetYear }}年{{ monthItem.targetMonth | numberformat("00") }}月</div>
		<div class="calendar">
		<table>
		<thead>
		<tr>
			<th class="sun">日</th>
			<th class="mon">月</th>
			<th class="tue">火</th>
			<th class="wed">水</th>
			<th class="thu">木</th>
			<th class="fri">金</th>
			<th class="sat">土</th>
		</tr>
		</thead>
		<tbody>
		{% for weekItem in monthItem.weekList %}
		<tr>
			<td class="sun {% if weekItem.sundayEventIndex != null %} e{{ weekItem.sundayEventIndex + 1 }} {% endif %}">
			{% if weekItem.sunday != null %}<i>{{ weekItem.sunday }}</i>{% endif %}
			</td>
			<td class="mon {% if weekItem.mondayEventIndex != null %} e{{ weekItem.mondayEventIndex + 1 }} {% endif %}">
			{% if weekItem.monday != null %}<i>{{ weekItem.monday }}</i>{% endif %}
			</td>
			<td class="tue {% if weekItem.tuesdayEventIndex != null %} e{{ weekItem.tuesdayEventIndex + 1 }} {% endif %}">
			{% if weekItem.tuesday != null %}<i>{{ weekItem.tuesday }}</i>{% endif %}
			</td>
			<td class="wed {% if weekItem.wednesdayEventIndex != null %} e{{ weekItem.wednesdayEventIndex + 1 }} {% endif %}">
			{% if weekItem.wednesday != null %}<i>{{ weekItem.wednesday }}</i>{% endif %}
			</td>
			<td class="thu {% if weekItem.thursdayEventIndex != null %} e{{ weekItem.thursdayEventIndex + 1 }} {% endif %}">
			{% if weekItem.thursday != null %}<i>{{ weekItem.thursday }}</i>{% endif %}
			</td>
			<td class="fri {% if weekItem.fridayEventIndex != null %} e{{ weekItem.fridayEventIndex + 1 }} {% endif %}">
			{% if weekItem.friday != null %}<i>{{ weekItem.friday }}</i>{% endif %}
			</td>
			<td class="sat {% if weekItem.saturdayEventIndex != null %} e{{ weekItem.saturdayEventIndex + 1 }} {% endif %}">
			{% if weekItem.saturday != null %}<i>{{ weekItem.saturday }}</i>{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div><!--//calendar-->
		</div><!--//schedule-area2-->
	{% endfor %}
	</div><!--//block-in-->
	
	<ul class="list-event">
		{% for eventItem in eventList %}
		<li class="event{{ loop.index + 1 }}">{{ eventItem.eventName }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<!--▲カレンダー-->
	
	<div class="secondary-head">
	<h3 class="title2">SHOPPING GUIDE</h3>
	</div>

	<ul class="guide-nav">
		<li><a href="/law">特定商取引法に基づく表記</a></li>
		<li><a href="/privacy">個人情報保護方針</a></li>
		<li><a href="/fee">送料について</a></li>
		{% if registValidFlag == 1 %}<li><a href="/membership">会員規約</a></li>{% endif %}

		{% if askpageUseFlag == 1 %}<li><a href="{{ shpCartUrl }}/ask/start/{{ shpHash }}">お問合せ</a></li>{% endif %}
	</ul>
	
	</div><!--//right-block-->

</div><!--//secondary-->
</div><!--//container-->

<footer id="footer">
<div id="page-top"><a href="#wrapper"></a></div>
<div class="copyright">Copyright &copy; {{ shopName }} All Rights Reserved.</div>
</footer><!--//footer-->

</div><!--//wrapper-->
<div class="overlay"></div>
	<script src="{{shpImgUrl}}/cms/yt00016/js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00016/js/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00016/js/jquery.flicksimple.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00016/js/common-script.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00016/js/shop-script.js" type="text/javascript"></script>
	{% if ukomiFlag == true %}
		{{ ukomiJSTag }}
	{% endif %}
<[-- BODY_CUSTOM_CONTENTS --]>
</body>
</html>
