<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<title>{% if loginTitle is not empty %}{{ loginTitle }}{% else %}{{ shopName }}{% endif %}</title>

	<meta property="og:site_name" content="{{ shopName }}">

	{% if loginMetadescription is not empty %}<meta name="description" content="{{ loginMetadescription }}">
	{% endif %}
	{% if topFaviconUrl is not empty %}
	<link rel="shortcut icon" href="{{ topFaviconUrl }}">
	<link rel="icon" type="image/vnd.microsoft.icon" href="{{ topFaviconUrl }}">
	{% endif %}
	<link href="{{ cssAddr }}" rel="stylesheet" type="text/css">
	<!--[if lt IE 10]>
		<style type="text/css">label:after {display:none;}</style>
	<![endif]-->
	<[-- HEADER_CUSTOM_CONTENTS --]>
	{% if robots is not empty %}<meta name="robots" content="{{ robots }}">{% endif %}
	{% if canonicalUrl is not empty %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
	{% if prevUrl is not empty %}<link rel="prev" href="{{ prevUrl }}">{% endif %}
	{% if nextUrl is not empty %}<link rel="next" href="{{ nextUrl }}">{% endif %}
</head>

<body class="body-login">
	<div id="wrapper">
		<div id="header">
			<div class="header-top-cart clearfix">
				<div class="row">
					<div class="logo">
						<h1>
							<a href="/">
								{% if hdrLogoDispFlag == 1 and hdrLogoImageUrl is not empty %}<img src="{{ hdrLogoImageUrl }}" alt="{{ shopName }}">{% else %}<p class="logo-text">{{ shopName }}</p>{% endif %}
							</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- header -->
		<div class="contents contents-login clearfix">
			<div class="main clearfix">

				{% if dsnTopVisualDispFlag == 1 and loginTopVisualDispFlag == 1 %}
					{{ dsnTopHtmlTag }}
				{% endif %}
				{% if dsnTopDispFlag1Shop == 1 and loginTopShpDescDispFlag1 == 1 %}
				<div id="top-shop-message1">
					<div>{{ dsnTopDesc1Shop }}</div>
				</div>
				{% endif %}
				{% if dsnTopDispFlagInfo == 1 and loginTopNotifyDispFlag == 1 and freepageList is not empty %}
				<div id="top-news">
					<div class="ttl">
						{% if dsnTopTitle1Info is not empty %}<h2>{{ dsnTopTitle1Info }}</h2>{% endif %}
						{% if dsnTopTitle2Info is not empty %}<h3>{{ dsnTopTitle2Info }}</h3>{% endif %}
					</div>
					<div class="news-list clearfix">
						{% for item in freepageList %}
						<dl>
							<dt>{{ item.updateTime }}</dt>
							<dd><a href="/fr/{{ item.freepageSerialNo }}">{{ item.title }}</a></dd>
						</dl>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				{% if loginError is not empty %}
				<div id="login-error-message">
					<div>{{ loginError }}</div>
				</div>
				{% endif %}
				{% if loginDesc is not empty %}
				<div id="login-message">
					<div>{{ loginDesc }}</div>
				</div>
				{% endif %}
				<form action="#" method="post">
					<table class="login-tbl">
						<tbody>
							<tr class="login-tbl-id">
								<th>ID</th>
								<td>
									<input type="text" maxlength="20" style="ime-mode:disabled" id="comLoginId" name="comLoginId" value="">
								</td>
							</tr>
							<tr class="login-tbl-pw">
								<th>パスワード</th>
								<td>
									<input type="password" maxlength="20" style="ime-mode:disabled" id="comLoginPassword" name="comLoginPassword" value="">
									<input type="checkbox" name="forgetpw" id="forgetpw">
									<label for="forgetpw">パスワードを表示する</label>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="login-btn">
						<a href="#" class="#"><span>ログイン</span></a>
						<input type="submit" style="display:none;">
					</div>
				</form>
				{% if dsnTopDispFlag2Shop == 1 and loginTopShpDescDispFlag2 == 1 %}
				<div id="top-shop-message2">
					<div>{{ dsnTopDesc2Shop }}</div>
				</div>
				{% endif %}
			</div>
			<!-- main -->
		</div>
		<!-- contents -->
	</div>
	<!-- wrapper -->
	<div id="footer" class="clearfix">
		<div class="btn-pagetop">
			<a href="#wrapper"></a>
		</div>
		<div class="footer-top">
			<div class="row clearfix">
				<div class="footer-logo">
					{% if ftrLogoDispFlag == 1 and ftrLogoImageUrl is not empty %}<a href="/"><img src="{{ ftrLogoImageUrl }}" alt="{{ shopName }}"></a>{% else %}<div class="logo-text logo-text-footer"><a href="/">{{ shopName }}</a></div>{% endif %}
				</div>
				<div class="footer-sns">
					<ul class="clearfix">
						<li>
							<a href="http://twitter.com/share?url={{ shpUrl }}&text={{ shopName }}" target="_blank"><img src="{{shpImgUrl}}/cms/yt00005/img/icn-sns-tw.png" alt="twitter"></a>
						</li>
						<li>
							<a href="http://www.facebook.com/share.php?u={{ shpUrl }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{shpImgUrl}}/cms/yt00005/img/icn-sns-fb.png" alt="facebook"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="row clearfix">
				<p class="copyright">Copyright &copy; {{ shopName }} All Rights Reserved.</p>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="overlay"></div>
	<script src="{{shpImgUrl}}/cms/yt00005/js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00005/js/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00005/js/jquery.flicksimple.js" type="text/javascript"></script>
	<script src="{{shpImgUrl}}/cms/yt00005/js/shop-script.js" type="text/javascript"></script>
	<[-- BODY_CUSTOM_CONTENTS --]>
</body>
</html>
