<!-- TOP POP UP　-->
<!--
<section class="wrapper_popup">
      <div class="popup_close">
        <div class="popup_content">
          <div class="popup_heading">
            <h2>CAMPAIGN</h2>
            <p>公式インスタグラムをフォローするだけ！</p>
          </div>
          <div class="popup_photo">
            <img src="https://image.raku-uru.jp/01/24040/50/_cQBWl-vf7teJcne9spmcwZlVfjI3jpX_9IVTMJJhtPnbJ2L7vf4Snc2LQoLoKWcqMtxlqUSzJCwafVyTVqFwXuZXB_RPXp99JJZqFj4bqHkrxj5P2bm7TH8hJod_klt_1669769982827.jpeg" alt="CellGenerator">
            <div class="otoku">
              <p>1粒あたり</p>
              <p><span>60%off</span></p>
            </div>
          </div>
          <div class="popup_name-price">
            <p>Cell Genarator</p>
            <p>7<span>日分</span> 1,000<span>円</span></p>
          </div>
          <div class="popup_btn"><a href="/">詳しくはこちら</a></div>
          <small>※キャンペーン適用にはアカウントフォローが必要となります。</small>
        </div>
      </div>
</section>
-->

<!-- TOP MV -->
<section class="wrapper_mv">
  <div class="inner">
    <div class="mv_photo-area">
      <div class="mv_photo01">
        <img src="https://image.raku-uru.jp/01/24040/26/mv_01_1669706806152.jpg" alt="" class="parallax">
      </div>
      <div class="mv_photo02">
        <img src="https://image.raku-uru.jp/01/24040/27/mv_02_1669706807022.jpg" alt="" class="parallax02">
      </div>
    </div>
    <div class="mv_text">
      <h1>
        DOCTOR'S<br>
        COSMETICS
      </h1>
    </div>
  </div>
</section>

<!-- TOP ABOUT -->
<section class="wrapper_about">
  <div class="inner">
    <h2 class="scroll_up">ABOUT US</h2>
    <div class="top_about_text-area">
      <div class="top_about_text-box">
        <h3 class="scroll_up">「細胞が喜ぶ化粧品」を<br class="sp_br">大切にしています。</h3>
        <p class="scroll_up">
          再生医療現場から細胞培養のノウハウを活かし細胞を育て増やすには<br>
          成長因子のセレクトや細胞のサイクルに着目した原料をピックアップしています。
        </p>
        <p class="scroll_up sp_none">
          いま使用している化粧品はいつ開封しましたか？<br>
          幾度となく外気(カビ・細菌）に触れていませんか？<br>
          その化粧品に変化がないのはなぜでしょう？
        </p>
        <p class="scroll_up sp_none">
          細胞の培養をしている私たちから考えると、とても不思議なことです。
        </p>
        <p class="scroll_up sp_none">
          カビ、細菌でさえ生きていけない環境のものを塗って細胞にとってハッピーだろうか？<br>
          という観点から、 より”細胞が喜ぶ”化粧品の提供を目指しております。
        </p>
      </div>
      <div class="more_btn scroll_up sp_none"><a href="#">MORE</a></div>
    </div>
    <div class="top_about_photo01 scroll_up sp_none">
      <img src="https://image.raku-uru.jp/01/24040/32/top_about02_1669706810407.jpg" alt="" class="parallax02">
    </div>
    <div class="top_about_photo02 scroll_up sp_none">
      <img src="https://image.raku-uru.jp/01/24040/31/top_about03_1669706809608.jpg" alt="" class="parallax">
    </div>
    <div class="sp_about_photo-area">
      <div class="sp_top_about_photo02 scroll_up">
        <img src="https://image.raku-uru.jp/01/24040/31/top_about03_1669706809608.jpg" alt="" class="parallax">
      </div>
      <div class="sp_top_about_photo01 scroll_up">
        <img src="https://image.raku-uru.jp/01/24040/32/top_about02_1669706810407.jpg" alt="" class="parallax02">
      </div>
    </div>
    <div class="sp_more_btn scroll_up">
      <a href="#">MORE</a>
    </div>
  </div>
</section>

<!-- TOP GALLERY -->
<section class="wrapper_gallery">
  <div class="inner">
    <div class="container">
      <div class="top_gallery_box02">
        <img src="https://image.raku-uru.jp/01/24040/35/top_gallery03_1669706811918.jpg" alt="" class="parallax">
      </div>
      <div class="top_gallery_box01">
        <img src="https://image.raku-uru.jp/01/24040/36/top_gallery02_1669706812270.jpg" alt="" class="parallax">
      </div>
      <div class="top_gallery_box04">
        <img src="https://image.raku-uru.jp/01/24040/33/top_gallery04_1669706810791.jpg" alt="" class="parallax">
      </div>
      <div class="top_gallery_box05">
        <img src="https://image.raku-uru.jp/01/24040/30/top_gallery05_1669706809248.jpg" alt="" class="parallax02">
      </div>
      <div class="top_gallery_box03">
        <img src="https://image.raku-uru.jp/01/24040/23/top_gallery01_1669706800478.jpg" alt="" class="parallax02">
      </div>
    </div>
    <div class="sp_container">
      <div class="sp_top_gallery_box01">
        <img src="https://image.raku-uru.jp/01/24040/36/top_gallery02_1669706812270.jpg" alt="" class="parallax">
      </div>
      <div class="sp_top_gallery_box02">
        <img src="https://image.raku-uru.jp/01/24040/35/top_gallery03_1669706811918.jpg" alt="" class="parallax">
      </div>
      <div class="sp_top_gallery_box03">
        <img src="https://image.raku-uru.jp/01/24040/23/top_gallery01_1669706800478.jpg" alt="" class="parallax02">
      </div>
      <div class="sp_top_gallery_box04">
        <img src="https://image.raku-uru.jp/01/24040/33/top_gallery04_1669706810791.jpg" alt="" class="parallax">
      </div>
      <div class="sp_top_gallery_box05">
        <img src="https://image.raku-uru.jp/01/24040/30/top_gallery05_1669706809248.jpg" alt="" class="parallax">
      </div>
    </div>
  </div>
</section>

<!-- TOP  NEWS -->
{% if dsnTopDispFlagInfo == 1 and freepageList is not empty %}
<section class="wrapper_news" id="top_news">
  <div class="inner">
    <h2 class="scroll_up">{{ dsnTopTitle1Info }}</h2>
    <div class="top_news_table">
      {% for item in freepageList %}
      <dl class="scroll_up">
        <dt><time>{{ item.updateTime }}</time></dt>
        <dd>
          <a href="/fr/{{ item.freepageSerialNo }}">{{ item.title }}</a>
        </dd>
      </dl>
      {% endfor %}
      <div class="top_news_photo">
        <img src="https://image.raku-uru.jp/01/24040/80/top_news01_1669860396860.jpg" alt="" class="parallax02">
      </div>
    </div>
    <div class="sp_top_news_photo-area">
      <div class="sp_top_news_photo">
        <img src="https://image.raku-uru.jp/01/24040/93/sp_top_news01_1671602278628.jpg" alt="" class="parallax">
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- TOP PRODUCT -->
<section class="wrapper_product">
<div class="inner">
<h2 class="scroll_up">PRODUCT</h2>
<div class="top_category_area scroll_to-left">
  <h3>Dr.saibo Series</h3>
  <div class="top_category_text-box">
    <p>
      あなたの未来の健康なお肌や髪のために、細胞レベルでアプローチできるシリーズです。<br>
      <span>私たちは細胞が喜ぶ環境するためにできるだけ使い切りや空気に触れないようエアレス容器を採用しております。</span>
    </p>
    <a href="item-list?categoryId=83542">View all</a>
  </div>
  <ul class="top_dr-saibo" id="slick_slider01">
    <li><a href="item-detail/1295780"><img src="https://image.raku-uru.jp/01/24040/50/_cQBWl-vf7teJcne9spmcwZlVfjI3jpX_9IVTMJJhtPnbJ2L7vf4Snc2LQoLoKWcqMtxlqUSzJCwafVyTVqFwXuZXB_RPXp99JJZqFj4bqHkrxj5P2bm7TH8hJod_klt_1669769982827.jpeg" alt="CellGenerator"></a></li>
    <li><a href="item-detail/1297618"><img src="https://image.raku-uru.jp/01/24040/58/cell_generator_plus_01_1669770417552.jpeg" alt="CellGenerator+"></a></li>
    <li><a href="item-detail/1297619"><img src="https://image.raku-uru.jp/01/24040/60/DXaiA45SdIOF75xk3_RjY_ffGceTFFoNBM-nY6y8ES9yt7gL6hxJ5wYyGKazH-h-TK2c9B4SSw5IqEXHegvvq0sJqvBSlgcsAAT6zlx9_pPGsfhe_Lg5hIr42arfY1ap_1669770539256.jpeg" alt="プレミアムUVセラム"></a></li>
    <li><a href="item-detail/1297620"><img src="https://image.raku-uru.jp/01/24040/47/czk_42QrVZlIYLYOHkg7SRxu-VmPL-4K9RA_u8lS9xUUy35cv2zCVaESTZtI2ESEjD0Oz-CoYY2BQX8_HgH4eXyPzyNGym4GcD0K1j6IWGsaZHfPWkguJ7ZpJYkPz3y2_1669710250520.jpeg" alt="Skin-RB-Essence"></a></li>
    <li><a href="item-detail/1297778"><img src="https://image.raku-uru.jp/01/24040/61/TwjF-TaoIYcQV4yfig2Sup5qcxwf-LjUY-d4LJHlSJj8lnOUy12BoW6O3cj77NfSXAnZznqsN6cbkT-gdLOm4L_SSo9wjnI4z2PyCPdLeWXO20xC1gbU19LQnjCox08p_1669770652634.jpeg" alt="Hair-RB-Essence"></a></li>
    <li><a href="item-detail/1297791"><img src="https://image.raku-uru.jp/01/24040/66/ajfokkkshnc_1669770866193.jpg" alt="Hair-RB-Conditioner"></a></li>
    <li><a href="item-detail/1297788"><img src="https://image.raku-uru.jp/01/24040/70/bvavhdoeuyrb_1669770913508.jpg" alt="Hair-RB-Shampoo"></a></li>
    <li><a href="item-detail/1297780"><img src="https://image.raku-uru.jp/01/24040/72/ykdryPVk76Q-jFISoInWBHwDbep4bR9XYZ3BS9e2-HLrwCDSWIqLkU3sPSKGAo_UiNa03N7dkngNx4iUs8J8ydvjaVkXZnuy4aUqyrxDdv1FQ2eLWW6-mBFnfWAkBFdp_1669771016953.jpeg" alt="Lead-roller-system"></a></li>
  </ul>
</div>
<div class="top_category_area scroll_to-left">
  <h3>Dr.AQUA Series</h3>
  <div class="top_category_text-box">
    <p>
      <span>化粧品で最も大切な素材は「水」であると考えます。<br>
      aqua nobleは</span>水の中の不純物を極限まで除去した浸透性・分散性が高い「超純水」を使用しています。<br>
      <span>「超純水」は化粧品のエキス・成分の力を肌の奥に届ける作用があります。</span>
    </p>
    <a href="item-list?categoryId=83543">View all</a>
  </div>
  <ul class="top_dr-aqua" id="slick_slider02">
    <li><a href="item-detail/1297822"><img src="https://image.raku-uru.jp/01/24040/75/aqua-noble-lotion_02_1669771903770.jpeg" alt="aqua-noble 化粧水"></a></li>
    <li><a href="item-detail/1297823"><img src="https://image.raku-uru.jp/01/24040/77/aqua-noble-milk_01_1669771920662.jpeg" alt="aqua-noble 乳液"></a></li>
    <li><a href="item-detail/1297824"><img src="https://image.raku-uru.jp/01/24040/79/aqua-noble-essence_02_1669771936010.jpeg" alt="aqua-noble 美容液"></a></li>
  </ul>
</div>
</div>
</section>

<!-- ランキングを新着商品に書き換え -->
<section class="wrapper_ranking">
<h2>{{ dsnTopTitle1NewItem }}</h2>
<ul id="sp_slick_slider">
{% for item in itemRecentList %}
<li>
  <a href="/item-detail/{{ item.itemId }}">
    {% if item.dispMediaUrl is not empty %}
    <img src="{{ item.dispMediaUrlSmall }}" alt="{{ item.itemName }}"> {% elseif item.mediaUrl is not empty %}
    <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% else %}
    <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% endif %}
  </a>
</li>
{% endfor %}
</ul>
</section>

<div class="top clearfix">
<div class="main">
{% if dsnTopVisualDispFlag == 1 %}
  {{ dsnTopHtmlTag }}
{% endif %}
{% if dsnTopDispFlag1Shop == 1 %}
<div id="top-shop-message1">
  <div>{{ dsnTopDesc1Shop }}</div>
</div>
{% endif %}

{% if dsnTopDispFlagRanking == 1 and itemRecommendList is not empty %}
<div id="top-ranking">
  <div class="ttl">
    {% if dsnTopTitle1Ranking is not empty %}<h2>{{ dsnTopTitle1Ranking }}</h2>{% endif %}
    {% if dsnTopTitle2Ranking is not empty %}<h3>{{ dsnTopTitle2Ranking }}</h3>{% endif %}
  </div>
  <div class="product-list clearfix">
    {% for item in itemRecommendList %}
      {% if loop.index < 3 %}
      <div class="product-list-item">
      {% else %}
      <div class="product-list-item-sub">
      {% endif %}
        <a href="/item-detail/{{ item.itemId }}">
          <div class="product-list-photo">
            <div class="icn-rank icn-rank{{ loop.index + 1 }}"><span>{{ loop.index + 1 }}</span></div>
            {% if item.dispMediaUrl is not empty %}
            <img src="{{ item.dispMediaUrlSmall }}" alt="{{ item.itemName }}"> {% elseif item.mediaUrl is not empty %}
            <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% else %}
            <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% endif %}
          </div>
          <div class="product-list-info">
            <p class="product-list-name {% if item.shpRsvFlag == 1 %} icn-reservation {% endif %}">{{ item.itemName }}</p>
            <p class="product-list-price"><span class="product-list-num">{{ item.displayPrice }}</span><span class="product-list-tax">{{ item.displayTax }}</span></p>
            {% if item.stockOutMessage is not empty %}<p class="product-list-nonstock">{{ item.stockOutMessage }}</p>{% endif %}
          </div>
        </a>
        {% if ukomiFlag == true %}
          {{ item.starRatingHtmlTag }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if dsnTopDispFlagSalesRanking == 1 and itemSalesRankingList is not empty %}
<div id="top-salesranking">
  <div class="ttl">
    {% if dsnTopTitle1SalesRanking is not empty %}<h2>{{ dsnTopTitle1SalesRanking }}</h2>{% endif %}
    {% if dsnTopTitle2SalesRanking is not empty %}<h3>{{ dsnTopTitle2SalesRanking }}</h3>{% endif %}
  </div>
  <div class="product-list clearfix">
    {% for item in itemSalesRankingList %}
      {% if loop.index < 3 %}
      <div class="product-list-item">
      {% else %}
      <div class="product-list-item-sub">
      {% endif %}
        <a href="/item-detail/{{ item.itemId }}">
          <div class="product-list-photo">
            <div class="icn-rank icn-rank{{ loop.index + 1 }}"><span>{{ loop.index + 1 }}</span></div>
            {% if item.dispMediaUrl is not empty %}
            <img src="{{ item.dispMediaUrlSmall }}" alt="{{ item.itemName }}"> {% elseif item.mediaUrl is not empty %}
            <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% else %}
            <img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% endif %}
          </div>
          <div class="product-list-info">
            <p class="product-list-name {% if item.shpRsvFlag == 1 %} icn-reservation {% endif %}">{{ item.itemName }}</p>
            <p class="product-list-variation">{{ item.variationName }}</p>
            <p class="product-list-price"><span class="product-list-num">{{ item.displayPrice }}</span><span class="product-list-tax">{{ item.displayTax }}</span></p>
          </div>
        </a>
        {% if ukomiFlag == true %}
          {{ item.starRatingHtmlTag }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if dsnTopDispFlag2Shop == 1 %}
<div id="top-shop-message2">
  <div>{{ dsnTopDesc2Shop }}</div>
</div>
{% endif %}
</div>
<!-- main -->
</div>
